<app-navbar></app-navbar>

<div class="container under-construction" *ngIf="this.ghService.IsUnderConstruction()">
    <div class="row">
        <div class="col mt-5 text-center">
            <h1>{{this.lang.get("->underconstruction-hello")}}</h1>
            <h2>{{this.lang.get("->underconstruction-branding")}}</h2>
            <h4>{{this.lang.get("->underconstruction-beingBuilt")}}</h4>
            <h5>{{this.lang.get("->underconstruction-wait")}}</h5>
        </div>
    </div>
</div>

<router-outlet *ngIf="!this.ghService.IsUnderConstruction()"></router-outlet>